Django==1.10.1
psycopg2==2.7
Unipath==1.1
dj-database-url==0.4.1
django-cors-headers==1.2.2
django-extensions==1.7.4
whitenoise==3.2.1
dj-static==0.0.6
django-suit==0.2.21
python-dotenv==0.6.0
gunicorn==19.6.0
django-naomi==0.8
djangorestframework==3.4.7
django-rq==0.9.2
click==6.6
rq==0.6.0
python-monkey-business==1.0.0
raven==5.32.0
